body {
	font-family: system-ui, 'Times New Roman', Times, serif;
	font-size: 25px;
	background-color: rgb(47, 71, 53);
	color: rgb(73, 50, 19);
}

* {
	overflow: hidden;
}

#card {
	margin: 20px auto;
	border: solid rgb(71, 32, 32) 7px;
	border-radius: 30px;
	padding: 0.5em;
	background-color: rgb(222, 211, 195);
	overflow: clip;
	max-width: 70%;
}

h1 {
	text-align: center;
	overflow-x: hidden;
	font-family: sans-serif;
	margin-bottom: 50px;
	padding-bottom: 0.4em;
	border-bottom: 8px double rgb(73, 50, 19);
	border-radius: 40px;
	margin-top: 10px;

}

hr {
	height: 2px;
	background-color: black;
	border: none;
	width: 100%;
}

ul {
	text-align: center;
	list-style-type: none;
	padding: 0;
	margin-top: 0;
}

li {
	display: inline-block;
	width: 60%;
	padding: 5px;
	margin-bottom: 10px;
	background-color: rgba(187, 174, 154, 0.626);
	text-align: center;
	border: black solid 2px;
	border-radius: 100px;
}

a {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

li:hover {
	font-weight: bolder;
	color: rgb(144, 81, 4);
	width: 90%;
}

a:visited {
	color: rgb(255, 89, 0)
}

a:active {
	font-weight: lighter;
}